<div class="side-panel">
    <div class="side-panel-heading">
        <h1>Bloc Chat</h1>
    </div>
        <div class="button-main">
        <button class="btn btn-default" type="button" ng-click="home.openRoomModal()"> Create a New Room </button> </div>

    <ul class="room-list" ng-repeat="room in home.rooms">
        <li class="room-item" ng-click="home.activeRoom(room)"> {{ room.$value }}  </li>
    </ul>

    <div class="main-panel">
        <h2> Room: {{home.selectedRoom.$value}} </h2>
        <div class="message-box" ng-repeat="msg in home.activeRoomMessage">
                    {{msg.username}}: "{{ msg.content }}"
        </div>

        <section>
            <div class="input-bar">
                <form ng-submit="home.send(home.message, home.selectedRoom)">
                        <input type="text" class="btn btn-default message-send col-sm-10" ng-model="home.message" placeholder="Write your message here..."  autofocus>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="home.send(home.message, home.selectedRoom)">Send</button>
                        </span>

                </form>
            </div>
        </section>
    </div>
