<div class="side-panel">
    <div class="side-panel-heading">
        <h1>Bloc Chat</h1>
    </div>
        <div class="button-main">
        <button class="button" ng-click="home.openRoomModal()"> Create a New Room </button> </div>

    <ul class="room-list" ng-repeat="room in home.rooms">
        <li class="room-item" ng-click="home.activeRoom(room)"> {{ room.$value }}  </li>
    </ul>

    <div class="main-panel">
        <div class="message-box" ng-repeat="msg in home.activeRoomMessage">
                    {{msg.username}}: "{{ msg.content }}"
        </div>
    </div>
